@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  color: #0D0D0D;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

ul,ol , li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0D0D0D;
}