<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<insert id="insertUser" parameterType="member">
		insert into hanuser values (#{userId}, #{pwd}, #{tel}, #{email}, #{address}, #{petName}, #{login}, #{userType}, #{userReportCnt}, #{userReportText})
	</insert>
	
	<select id="selectOne" resultType="member" parameterType="String">
		select * from hanuser where userId = #{value}
	</select>
	
	<update id="updateLogin" parameterType="member">
		update hanuser set login=#{login} where userId = #{userId} 
	</update>
	
	<!-- 	<update id="updateMember" parameterType="member">
		update member set name=#{name}, gender=#{gender}, tel=#{tel}, email=#{email}, picture=#{picture} where id = #{id} 
	</update>
	
	<delete id="deleteMember" parameterType="String">
		delete from member where id = #{value}
	</delete>
	
	<update id="pwdUpdateMember" parameterType="map">
		update member set pwd=#{chgPwd} where id = #{id} 
	</update>
	
	<select id="memberList" resultType="member">
		select * from member
	</select> -->
</mapper>























