<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<insert id="insertUser" parameterType="member">
		insert into hanuser values (#{userId}, #{pwd}, #{tel}, #{email}, #{address}, #{petName}, 0, 0, 0, 0)
	</insert>
	
	<select id="selectOne" resultType="member" parameterType="String">
		select * from hanuser where userId = #{value}
	</select>
	
<!-- 	<select id="userCount" resultType="int" parameterType="int">
		select nvl(count(*),0) from hanuser where userType = #{value}
	</select> -->
	
	<select id="memberList" parameterType="int" resultType="member">
		select * from hanuser 
		where userType = #{userType}
		
	</select>
	
	<update id="updateAuth" parameterType="map">
		update hanuser set userType=#{userType} where userId = #{userId} 
	</update>
	
	<update id="updateLogin" parameterType="member">
		update hanuser set login=#{login} where userId = #{userId} 
	</update>
	
	<update id="reportCountUp" parameterType="String">
		update hanuser set userreportcnt = userreportcnt + 1 where userId = #{value}
	</update>
	
	<update id="updateMember" parameterType="member">
		update hanuser set address=#{address}, email=#{email}, tel=#{tel}, petName=#{petName} where userId = #{userId} 
	</update>
	
		 <delete id="deleteMember" parameterType="String">
		delete from hanuser where userId = #{value}
	</delete>
	
	<update id="pwdUpdateMember" parameterType="map">
		update hanuser set pwd = #{pwd} where userId = #{userId} 
	</update>
	
		<!--<select id="memberList" resultType="member">
		select * from member
	</select> -->

</mapper>























