<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias type="model.Member" alias="member" />
		<typeAlias type="model.PetBoard" alias="petBoard" />
		<typeAlias type="model.AdoptBoard" alias="adoptBoard" />
		<typeAlias type="model.QBoard" alias="QBoard" />
		<typeAlias type="model.ReviewBoard" alias="reviewBoard" />
	</typeAliases>
	
	<mappers><!-- sql 구문 -->
		<mapper resource="mybatis/MemberMapper.xml"/>
		<mapper resource="mybatis/PetBoardMapper.xml"/>
		<mapper resource="mybatis/AdoptBoardMapper.xml"/>
		<mapper resource="mybatis/QBoardMapper.xml"/>
		<mapper resource="mybatis/ReviewBoardMapper.xml"/>
	</mappers>
	
</configuration>